<?xml version="1.0"?>
<idevice>
    <title>Periodic table</title>
    <css-class>periodic-table</css-class>
    <category>Games</category>
    <icon>
        <name>periodic-table-icon</name>
        <url>periodic-table-icon.svg</url>
        <type>img</type>
    </icon>
    <downloadable>0</downloadable>
</idevice>
