<?xml version="1.0"?>
<idevice>
    <title>Checklist</title>
    <css-class>checklist</css-class>
    <category>Other contents</category>
    <icon>
        <name>checklist-icon</name>
        <url>checklist-icon.svg</url>
        <type>img</type>
    </icon>
    <downloadable>0</downloadable>
</idevice>
