#hiQEIdeviceForm {
    margin-top: 2em;
}

#hiQEIdeviceForm input[type=number] {
    width: 4em;
}

#hiQEIdeviceForm input[type="radio"],
#hiQEIdeviceForm input[type="checkbox"],
#hiQEIdeviceForm input[type=button] {
    cursor: pointer;
}

#hiQEIdeviceForm .exe-form-tab label {
    margin-right: 0.15em !important;
}

#hiQEIdeviceForm input:is([type="checkbox"], [type="radio"], [type="number"]) {
    margin-right: 0.15em !important;
}

/*Panel preguntas */
.HIE-Panel {
    margin: 0.7em auto;
    padding: 0;
    position: relative;
    width: 100%;
}

.HIE-OptionsMedia {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    width: 100%;

}

/* Medias */
.HIE-MultiMediaOption {
    min-width: 400px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.HIE-Media {
    border: 1px solid #cccccc;
    border-radius: .5em;
    margin: 0 auto;
    max-width: 450px;
    width: 70%;
}

.HIE-Media:last-of-type {
    display: block;
}

.HIE-Cursor {
    display: none;
    left: 0;
    position: absolute;
}

.HIE-Flex {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.HIE-OptionsGame {
    min-height: 300px;
    width: 50%;
}

.HIE-OptionsGame div {
    margin-bottom: 0.7em;
}

.HIE-OptionsGame input[type=text] {
    margin-right: .2em;
    width: 5em;
}

.HIE-inlineOption,
.HIE-TypeGame,
.HIE-TypeOrder {
    margin-left: .5em
}

/* Ayuda */
#hiQEIdeviceForm .HIE-TypeGameHelp {
    display: none;
    margin-bottom: 2em;
    font-size: .95em
}

.Games-Reportdiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
}

/* Opciones imagen */
.HIE-InputImage {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    min-width: 100px;
    width: 100%;
}

#hiQEIdeviceForm .HIE-InputImage input[type=text] {
    flex-flow: 1;
    margin-right: 0.2em;
    min-width: 100px;
    width: 100%;
}

.uextE-EInputImage input[type=button] {
    flex-shrink: 0;
}

.HIE-AuthorAlt {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px
}

.HIE-AuthorAlt label {
    display: block;
}

.HIE-AuthorAlt input[type=text] {
    margin-right: 0.2em;
    width: 100%;
}

.HIE-AuthorAlt>div {
    width: 49.3%;
}

/* Opciones video */
.HIE-AuthorVideo input[type=text] {
    width: 85%;
    max-width: 400px;
}

.HIE-InputVideo input[type=text] {
    width: 85%;
}

.HIE-InputOptionsVideo>div {
    margin-top: 0.6em;
}

.HIE-InputOptionsVideo button {
    font-size: 1em;
    height: 1.6em;
}

/* Opciones audio */
.HIE-InputAudio {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.HIE-InputAudio input[type=text] {
    flex-flow: 1;
    margin-right: 0.2em;
    min-width: 100px;
    width: 100%;
}

.HIE-InputAudio input[type=button] {
    flex-shrink: 0;
}

.HIE-ButtonLink {
    display: block;
    height: 1.6em;
    width: 1.6em;
}

/*Preguntas*/
.HIE-QuestionDiv {
    margin-bottom: .3em;
    width: 100%;
}

.HIE-Question {
    width: 98%;
}

.HIE-Answers {
    background: transparent;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.HIE-OptionDiv {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 3px 0;
    min-height: 35px;
    width: 49%;
    gap: 1px;
}

.HIE-AnwersOptions {
    width: 100%;
}

/* Itinerario */
.HIE-Orders {
    margin-top: 0.5em;
    display: none;
}

.HIE-Orders>div {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    ;
}

.HIE-Orders>div {
    align-items: left;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 0.5em;
}

.HIE-Orders>div * {
    margin-right: .2em;
}

.HIE-Orders input[type=text] {
    width: 100%;
}

.HIE-Orders label {
    white-space: nowrap;
}



/*Numero Preguntas */
.HIE-NumQuestionDiv {
    align-items: center;
    display: flex;
    height: 1.5em;
    justify-content: center;
    position: absolute;
    right: 0;
    top: .3em;
    width: 3em;
    z-index: 20;
}

.HIE-NumQ {
    background-image: url(quextIENumber.png);
    background-size: 100% 100%;
    display: inline-block;
    height: 1.5em;
    margin-right: 0px;
    width: 1.5em;
}

.HIE-NumQuestions {
    font-weight: bold;
    height: 1.5em;
    text-align: center;
    width: 2em;
}

.HIE-CustomMessage {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    width: 100%;
}

.HIE-CustomMessage input[type=text] {
    width: 100%;
    margin-right: 0.1em;
}

.HIE-CustomMessage label {
    margin: 0 0.1em;
}

/* barra edición */
.HIE-NavigationButtons {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    width: 100%;
}

.HIE-NavigationButton {
    height: 1.5em;
    margin: 0 .3em;
    min-width: 1.5em;
    width: 1.5em;
}

.HIE-ButtonImage {
    height: 100%;
    transition: all .3s ease-in-out;
    width: 100%;
}

.HIE-ButtonImage:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.HIE-NumberQuestion {
    font-weight: bold;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    vertical-align: middle;
    width: 2em;
}

/* Video introdución */
.HIE-VIDiv {
    background-color: #f9f9f9;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20;
}

/* Video introdución */
.HIE-VIV {
    width: 100%;
}

.HIE-MVI {
    height: 315px;
    margin: 70px auto;
    position: relative;
    width: 560px;
}

.HIE-VI,
.HIE-NoVI {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.HIE-VIOptions {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.HIE-VIOptions * {
    margin-left: 0.3em;
}

.HIE-VIOptions input[type=text] {
    text-align: left;
    width: 5em;
}

.HIE-VIOptions input[type=text]:first-of-type {
    width: 15em;
}

.HIE-VideoIntroDiv {
    border-radius: 10px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 98%;
    z-index: 20;
}

.HIE-VIClose {
    position: absolute;
    right: 0.3em;
    top: 0.3em;
}

.HIE-VIOptionsVQ {
    margin-bottom: 0.6em;
}

.HIE-VIOptionsVQ input[type=text] {
    text-align: left;
    width: 5em;
    margin-right: .2em;
}

.HIE-VIOptionsVQ #vquextEVIURL {
    width: 15em;
}

/* Ocutar elementos */
.HIE-InputOptionsVideo,
.HIE-DP,
.HIE-InputImage,
.HIE-VIDiv,
.HIE-ScoreQuestionDiv,
.HIE-Coord,
.HIE-FeedbackP,
.HIE-TitleImage,
.HIE-TitleVideo,
.HIE-InputVideo {
    display: none;
}

.HIE-EHit {
    background-image: url(quextIEHit.png);
    background-size: 100% 100%;
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
}

.HIE-Error {
    background-image: url(quextIEError.png);
    background-size: 100% 100%;
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
}

#hiQEIdeviceForm .HIE-OptionDiv label {
    margin-right: 0.2em;
}


label[for=gameQEScoreQuestion],
input#gameQEScoreQuestion {
    display: none;
}


/* To review */
#hiQEIdeviceForm .exe-block-info img {
    margin-left: .2em;
    vertical-align: middle;
}

.exe-block-close {
    position: absolute;
    top: 6px;
    right: 5px;
}


#hiQEIdeviceFormTab3 p:first-child {
    margin-top: 0;
}

#hiQEIdeviceFormTab3 {
    overflow: auto;
}

#hiQEIdeviceFormTab3 .ci18n {
    float: left;
    width: 50%;
}

@media screen and (max-width:720px) {
    #hiQEIdeviceForm #hiQEIdeviceFormTab3 .ci18n {
        float: none;
        width: 100%;
    }
}

#hiQEIdeviceForm #hiQEIdeviceFormTab3 label {
    display: block;
    margin-bottom: .2em;
    color: #5b810b;
    font-weight: 500;
}

#hiQEIdeviceForm #hiQEIdeviceFormTab3 input {
    width: 95%;
}

/* Tabs (this should be common) */
.exe-form-tabs {
    list-style: none;
    margin: 0 0 1.5em 0;
    padding: 0;
}

#main .exe-form-tabs li {
    display: inline;
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

.exe-form-tabs li:first-child a {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.exe-form-tabs li:last-child a {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.exe-form-tabs a {
    background: #F9F9F9;
    border: 1px solid #CCC;
    color: #666;
    display: inline-block;
    padding: .5em 1em;
}

.exe-form-tabs li:not(:last-child) a {
    border-right: none;
}

.exe-form-tabs .exe-form-active-tab {
    background: #FFF;
    color: #000;
    font-weight: 500;
}

#gameQESCORMoptions {
    margin-left: 1.5em;
    visibility: hidden;
}

label[for=gameQEActivitySCORM] {
    font-weight: bold;
}

#gameQESCORMinstructionsButton {
    color: #777;
    display: none;
    margin: 10px 0 0 25px;
}

#gameQESCORMinstructionsButton ul {
    list-style: none;
    margin: 1.5em 0 .7em 0;
    padding: 0;
}

#gameQESCORMinstructionsButton ul li {
    list-style-image: none;
    margin: 0 0 .5em 0;
    padding: 0;
}

#gameQESCORMinstructionsAuto {
    color: #777;
    display: none;
    margin: 10px 0 0 25px;
}

#gameQESCORMinstructionsAuto ul {
    list-style: none;
    margin: 1.5em 0 .7em 0;
    padding: 0;
}

.GameModeHelpLink {
    margin: 0 2px;
    vertical-align: middle;
}


.GameModeLabel {
    font-weight: normal
}

.eXeE-LightboxWindow {
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 1200px;
    position: relative;
}

.eXeE-LightboxTabs {
    display: flex;
    border-bottom: 1px solid #ccc;
    align-items: center;
    position: relative;
}

#hiQEIdeviceForm a.eXeE-TabButton,
.eXeE-TabButton {
    padding: 10px 15px;
    cursor: pointer;
    background: #f0f0f0;
    border: none;
    border-right: 1px solid #ccc;
    font-size: 16px;
    position: relative;
    text-decoration: none !important;
    color: black;
}

a.eXeE-TabButton:last-child {
    border-right: none;
}

#hiQEIdeviceForm .eXeE-Active,
.eXeE-Active {
    background: #fff !important;
    border-bottom: 2px solid #007BFF !important;
    color: #5b810b !important;
}

.eXeE-LightboxContent {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.eXeE-LightboxTextarea {
    width: 100%;
    height: 250px;
    font-family: monospace;
    font-size: 14px;
}

.eXeE-LightboxFooter {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #ccc;
    padding: 10px;
}

.eXeE-LightboxFooter button {
    margin-left: 10px;
}

.eXeE-InfoTooltip {
    display: inline-block;
    margin-left: 5px;
    cursor: help;
    border-radius: 50%;
    background: #ccc;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
    font-weight: bold;
    position: relative;
}

.eXeE-InfoTooltip:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 20px;
    left: 0;
    background: #333;
    color: #fff;
    padding: 5px 8px;
    border-radius: 3px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 999;
}