#clasificaQEIdeviceForm {
    margin-top: 2em;
    width: 100%;
}

#clasificaQEIdeviceForm input[type=number] {
    width: 4em;
}

#clasificaQEIdeviceForm label {
    margin-right: 0.1em;
}

#clasificaQEIdeviceForm label {
    margin-right: 0.15em !important;
}

#clasificaQEIdeviceForm input:is([type="checkbox"], [type="radio"]) {
    margin-right: 0.15em !important;
}

#clasificaQEIdeviceForm input[type="radio"],
#clasificaQEIdeviceForm input[type="checkbox"],
#clasificaQEIdeviceForm input[type=button] {
    cursor: pointer;
}

/*Panel preguntas */
.CQE-EPanel {
    margin: 1.5em auto;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

.CQE-Data {
    width: 80%;
    max-width: 600px;
    position: relative;
    margin: auto;
    padding: 1.5em 1.2em;
    border-radius: 0.4em;
    border: 1px solid #cccccc;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.3em;
}

#clasificaEGroupSelect {
    width: 150px;
}

.CQE-ECardHeader {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.CQE-DatosCarta {
    width: 100%;
    height: 100%;
}

.CQE-DatosCarta input[type=text] {
    margin-right: .2em;
}

/* Medias */
.CQE-ETextDiv {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    position: absolute;
    color: '#000000';
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.CQE-ETextDivBoth {
    color: #000;
    background-color: rgba(255, 255, 255, 0.7);
}

.CQE-EMultimedia {
    margin: 0 auto 0.6em auto;
    position: relative;
    width: 200px;
    min-height: 200px;
    height: 200px;
    min-width: 200px;
    overflow: hidden;
    border: 1px solid rgb(3, 112, 116);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.3em;
}

.CQE-Card {
    top: 4px;
    left: 4px;
    width: 192px;
    min-height: 192px;
    height: 192px;
    min-width: 192px;
    background-color: white;
    position: absolute;
}

.CQE-ImageFit {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    margin: 0;
    background-color: white;
    position: absolute;
}

.CQE-Image {
    position: absolute;
}

.CQE-ECursor {
    left: 0;
    top: 0;
    position: absolute;
    display: none;
}

/* Opciones imagen */
.CQE-EAuthorAlt {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.CQE-EAuthorAlt div {
    width: 49.5%;
}

.CQE-EImageBack {
    max-width: 250px;
}

.CQE-EAuthorAlt label {
    display: block;
}

.CQE-EAuthorAlt input[type=text] {
    width: 97%;
}

.CQE-TypeGameHelp {
    display: none;
    margin-bottom: 2em;
    font-size: .95em
}

.CQE-EGroup {
    width: 35%;
    min-width: 200px;
}

.CQE-EInputAudio,
.CQE-EInputImage,
.CQE-EInputTitles,
.CQE-EInputImageBack {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    min-width: 100px;
    width: 100%;
}

.CQE-EInputImageBack label {
    white-space: nowrap;
}

.CQE-EInputAudio input[type=text],
.CQE-EInputImage input[type=text] {
    flex-flow: 1;
    margin-right: 0.2em;
    min-width: 100px;
    width: 100%;
}

.CQE-EInputAudio input[type=button],
.CQE-EInputImage input[type=button] {
    flex-shrink: 0;
}

/* Itinerario */
.CQE-EOrders {
    width: 100%;
    max-width: 600px;
}

.CQE-EHit {
    background-image: url(quextIEHit.png);
    background-size: 100% 100%;
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
}

.CQE-EError {
    background-image: url(quextIEError.png);
    background-size: 100% 100%;
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
}

.CQE-Hide {
    display: none;
}

/*Numero Preguntas */
.CQE-ENumQuestionDiv {
    align-items: center;
    display: flex;
    height: 1.5em;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0.5em;
    width: 3em;
    z-index: 20;
}

.CQE-ENumQ {
    background-image: url(quextIENumber.png);
    background-size: 100% 100%;
    display: inline-block;
    height: 1.5em;
    margin-right: 0;
    width: 1.5em;
}

.CQE-ENumQuestions {
    font-weight: bold;
    height: 1.5em;
    text-align: center;
    width: 2em;
}

.CQE-ECustomMessage {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    width: 100%;
}

.CQE-ECustomMessage input[type=text] {
    width: 100%;
    margin-right: 0.1em;
}

.CQE-ECustomMessage label {
    margin: 0 0.1em;
}

/* barra edición */
.CQE-ENavigationButtons {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    width: 100%;
}

.CQE-ENavigationButton {
    height: 1.5em;
    margin: 0 .3em;
    min-width: 1.5em;
    width: 1.5em;
}

.CQE-EButtonImage {
    height: 100%;
    transition: all .3s ease-in-out;
    width: 100%;
}

.CQE-EButtonImage:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.CQE-NumberQuestion {
    font-weight: bold;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    vertical-align: middle;
    width: 2em;
}

/* Video introdución */
.CQE-EVIDiv {
    background-color: #f9f9f9;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20;
}

/* Ocutar elementos */
.CQE-ECoord,
.CQE-EFeedbackP {
    display: none;
}

.CQE-ECoord {
    display: none;
}

/* To review */
#clasificaQEIdeviceForm .exe-block-info img {
    margin-left: .2em;
    vertical-align: middle;
}

.exe-block-close {
    position: absolute;
    top: 6px;
    right: 5px;
}

#clasificaQEIdeviceFormTab3 p:first-child {
    margin-top: 0;
}

#clasificaQEIdeviceFormTab3 {
    overflow: auto;
}

#clasificaQEIdeviceFormTab3 .ci18n {
    float: left;
    width: 50%;
}

@media screen and (max-width:720px) {
    #clasificaQEIdeviceForm #clasificaQEIdeviceFormTab3 .ci18n {
        float: none;
        width: 100%;
    }
}

#clasificaQEIdeviceForm #clasificaQEIdeviceFormTab3 label {
    display: block;
    margin-bottom: .2em;
    color: #5b810b;
    font-weight: 500;
}

#clasificaQEIdeviceForm #clasificaQEIdeviceFormTab3 input {
    width: 95%;
}

/* Tabs (this should be common) */
.exe-form-tabs {
    list-style: none;
    margin: 0 0 1.5em 0;
    padding: 0;
}

#main .exe-form-tabs li {
    display: inline;
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

.exe-form-tabs li:first-child a {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.exe-form-tabs li:last-child a {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.exe-form-tabs a {
    background: #F9F9F9;
    border: 1px solid #CCC;
    color: #666;
    display: inline-block;
    padding: .5em 1em;
}

.exe-form-tabs li:not(:last-child) a {
    border-right: none;
}

.exe-form-tabs .exe-form-active-tab {
    background: #FFF;
    color: #000;
    font-weight: 500;
}

#gameQESCORMoptions {
    margin-left: 1.5em;
    visibility: hidden;
}

label[for=gameQEActivitySCORM] {
    font-weight: bold;
}

#gameQESCORMinstructionsButton {
    color: #777;
    display: none;
    margin: 10px 0 0 25px;
}

#gameQESCORMinstructionsButton ul {
    list-style: none;
    margin: 1.5em 0 .7em 0;
    padding: 0;
}

#gameQESCORMinstructionsButton ul li {
    list-style-image: none;
    margin: 0 0 .5em 0;
    padding: 0;
}

#gameQESCORMinstructionsAuto {
    color: #777;
    display: none;
    margin: 10px 0 0 25px;
}

#gameQESCORMinstructionsAuto ul {
    list-style: none;
    margin: 1.5em 0 .7em 0;
    padding: 0;
}

.GameModeHelpLink {
    margin: 0 2px;
    vertical-align: middle;
}


.GameModeLabel {
    font-weight: normal
}

.eXeE-LightboxWindow {
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 1200px;
    position: relative;
}

.eXeE-LightboxTabs {
    display: flex;
    border-bottom: 1px solid #ccc;
    align-items: center;
    position: relative;
}

#clasificaQEIdeviceForm a.eXeE-TabButton,
.eXeE-TabButton {
    padding: 10px 15px;
    cursor: pointer;
    background: #f0f0f0;
    border: none;
    border-right: 1px solid #ccc;
    font-size: 16px;
    position: relative;
    text-decoration: none !important;
    color: black;
}

a.eXeE-TabButton:last-child {
    border-right: none;
}

#clasificaQEIdeviceForm .eXeE-Active,
.eXeE-Active {
    background: #fff !important;
    border-bottom: 2px solid #007BFF !important;
    color: #5b810b !important;
}

.eXeE-LightboxContent {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.eXeE-LightboxTextarea {
    width: 100%;
    height: 250px;
    font-family: monospace;
    font-size: 14px;
}

.eXeE-LightboxFooter {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #ccc;
    padding: 10px;
}

.eXeE-LightboxFooter button {
    margin-left: 10px;
}

.eXeE-InfoTooltip {
    display: inline-block;
    margin-left: 5px;
    cursor: help;
    border-radius: 50%;
    background: #ccc;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
    font-weight: bold;
    position: relative;
}

.eXeE-InfoTooltip:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 20px;
    left: 0;
    background: #333;
    color: #fff;
    padding: 5px 8px;
    border-radius: 3px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 999;
}