<div id="menu_idevices" class="menu long" size="long" pos="left" drag="menu">
    <div id="menu_idevices_content" class="menu_content">
        <div id="label_menu_idevices" class="label title-label showmin">
            <div class="exe-icon" aria-hidden="true">dashboard_customize</div>
            <h2>{{ "iDevices" | trans }}</h2>
        </div>
        <div id="list_menu_idevices" class="list"></div>
    </div>
</div>