<div class="bottom">
    <button id="button_menu_nav" class="btn btn-light" title="{{ "Structure panel" | trans }}">
        <span class="auto-icon" aria-hidden="true">vertical_split</span>
        <span class="visually-hidden">{{ "Structure panel" | trans }}</span>
    </button>
    <button id="button_menu_idevices" class="btn btn-light" title="{{ "iDevices panel" | trans }}">
        <span class="auto-icon" aria-hidden="true">dashboard_customize</span>
        <span class="visually-hidden">{{ "iDevices panel" | trans }}</span>
    </button>
</div>