<?xml version="1.0"?>
<idevice>
    <title>Before/After</title>
    <css-class>beforeafter</css-class>
    <category>Games</category>
    <icon>
        <name>beforeafter-icon</name>
        <url>beforeafter-icon.svg</url>
        <type>img</type>
    </icon>
    <downloadable>0</downloadable>
</idevice>
