#gameQEIdeviceForm {
    margin-top: 2em;
}

#gameQEIdeviceForm input[type=number] {
    width: 4em;
}

#gameQEIdeviceForm input[type="radio"],
#gameQEIdeviceForm input[type="checkbox"],
#gameQEIdeviceForm input[type=button] {
    cursor: pointer;
}

#gameQEIdeviceForm .exe-form-tab label {
    margin-right: 0.15em !important;
}

#gameQEIdeviceForm input:is([type="checkbox"], [type="radio"], [type="number"]) {
    margin-right: 0.15em !important;
}

/*Panel preguntas */
.QXTE-EPanel {
    margin: 0.7em auto;
    padding: 0;
    position: relative;
    width: 100%;
}

.QXTE-EOptionsMedia {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    width: 100%;
}

/* Medias */
.QXTE-EMultiMediaOption {
    height: 100%;
    min-height: 300px;
    min-width: 400px;
    position: relative;
    width: 50%;
}

.QXTE-EMultimedia {
    background-color: #fff;
    border-radius: .5em;
    height: 227px;
    margin: 40px auto auto auto;
    position: relative;
    width: 400px;
}

.QXTE-EMultiVideoQuExt {
    background-color: #fff;
    height: 300px;
    margin: 20px auto auto auto;
    position: relative;
    max-width: 528px;
}

.QXTE-EMedia {
    border: 1px solid #cccccc;
    border-radius: .5em;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.QXTE-EMedia:last-of-type {
    display: block;
}

.QXTE-ECursor {
    display: none;
    left: 0;
    position: absolute;
}

/* Opciones */
.QXTE-Flex {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.QXTE-EOptionsGame {
    min-height: 300px;
    width: 50%;
}

.QXTE-EOptionsGame div {
    margin-bottom: 0.7em;
}

.QXTE-EOptionsGame input[type=text] {
    margin-right: .2em;
    width: 5em;
}

.QXTE-inlineOption,
.QXTE-TypeGame,
.QXTE-TypeOrder {
    margin-left: .5em
}

/* Ayuda */
#gameQEIdeviceForm .QXTE-TypeGameHelp {
    display: none;
    margin-bottom: 2em;
    font-size: .95em
}


.Games-Reportdiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
}

/* Opciones imagen */
.QXTE-EInputImage {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    min-width: 100px;
    width: 100%;
}

#gameQEIdeviceForm .QXTE-EInputImage input[type=text] {
    flex-flow: 1;
    margin-right: 0.2em;
    min-width: 100px;
    width: 100%;
}

.uextE-EInputImage input[type=button] {
    flex-shrink: 0;
}

.QXTE-EAuthorAlt label {
    display: block;
}

.QXTE-EAuthorAlt input[type=text] {
    margin-right: 0.2em;
    width: 100%;
}

.QXTE-EAuthorAlt div {
    width: 100%;
}

/* Opciones video */
.QXTE-EAuthorVideo input[type=text] {
    width: 85%;
    max-width: 400px;
}

.QXTE-EInputVideo input[type=text] {
    width: 85%;
}

.QXTE-EInputOptionsVideo>div {
    margin-top: 0.6em;
}

.QXTE-EInputOptionsVideo button {
    font-size: 1em;
    height: 1.6em;
}

/* Opciones audio */
.QXTE-EInputAudio {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.QXTE-EInputAudio input[type=text] {
    flex-flow: 1;
    margin-right: 0.2em;
    min-width: 100px;
    width: 100%;
}

.QXTE-EInputAudio input[type=button] {
    flex-shrink: 0;
}

.QXTE-ButtonLink {
    display: block;
    height: 1.6em;
    width: 1.6em;
}

/*Preguntas*/
.QXTE-EQuestionDiv {
    margin-bottom: .3em;
    width: 100%;
}

.QXTE-EQuestion {
    width: 98%;
}

.QXTE-EAnswers {
    background: transparent;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.QXTE-EOptionDiv {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 3px 0;
    min-height: 35px;
    width: 49%;
    gap: 1px;
}

.QXTE-EAnwersOptions {
    width: 100%;
}

/* Itinerario */
.QXTE-EOrders {
    margin-top: 0.5em;
    display: none;
}

.QXTE-EOrders>div {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    ;
}

.QXTE-EOrders>div {
    align-items: left;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 0.5em;
}

.QXTE-EOrders>div * {
    margin-right: .2em;
}

.QXTE-EOrders input[type=text] {
    width: 100%;
}

.QXTE-EOrders label {
    white-space: nowrap;
}

.QXTE-EHit {
    background-image: url(quextIEHit.png);
    background-size: 100% 100%;
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
}

.QXTE-EError {
    background-image: url(quextIEError.png);
    background-size: 100% 100%;
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
}

/*Numero Preguntas */
.QXTE-ENumQuestionDiv {
    align-items: center;
    display: flex;
    height: 1.5em;
    justify-content: center;
    position: absolute;
    right: 0;
    top: .3em;
    width: 3em;
    z-index: 20;
}

.QXTE-ENumQ {
    background-image: url(quextIENumber.png);
    background-size: 100% 100%;
    display: inline-block;
    height: 1.5em;
    margin-right: 0px;
    width: 1.5em;
}

.QXTE-ENumQuestions {
    font-weight: bold;
    height: 1.5em;
    text-align: center;
    width: 2em;
}

.QXTE-ECustomMessage {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    width: 100%;
}

.QXTE-ECustomMessage input[type=text] {
    width: 100%;
    margin-right: 0.1em;
}

.QXTE-ECustomMessage label {
    margin: 0 0.1em;
}

/* barra edición */
.QXTE-ENavigationButtons {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    width: 100%;
}

.QXTE-ENavigationButton {
    height: 1.5em;
    margin: 0 .3em;
    min-width: 1.5em;
    width: 1.5em;
}

.QXTE-EButtonImage {
    height: 100%;
    transition: all .3s ease-in-out;
    width: 100%;
}

.QXTE-EButtonImage:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.QXTE-NumberQuestion {
    font-weight: bold;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    vertical-align: middle;
    width: 2em;
}

/* Video introdución */
.QXTE-EVIDiv {
    background-color: #f9f9f9;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20;
}

/* Video introdución */
.QXTE-EVIV {
    width: 100%;
}

.QXTE-EMVI {
    height: 315px;
    margin: 70px auto;
    position: relative;
    width: 560px;
}

.QXTE-EVI,
.QXTE-ENoVI {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.QXTE-EVIOptions {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.QXTE-EVIOptions * {
    margin-left: 0.3em;
}

.QXTE-EVIOptions input[type=text] {
    text-align: left;
    width: 5em;
}

.QXTE-EVIOptions input[type=text]:first-of-type {
    width: 15em;
}

.QXTE-EVideoIntroDiv {
    border-radius: 10px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 98%;
    z-index: 20;
}

.QXTE-EVIClose {
    position: absolute;
    right: 0.3em;
    top: 0.3em;
}

.QXTE-EVIOptionsVQ {
    margin-bottom: 0.6em;
}

.QXTE-EVIOptionsVQ input[type=text] {
    text-align: left;
    width: 5em;
    margin-right: .2em;
}

.QXTE-EVIOptionsVQ #vquextEVIURL {
    width: 15em;
}

/* Ocutar elementos */
.QXTE-EInputOptionsVideo,
.QXTE-DP,
.QXTE-EInputImage,
.QXTE-EVIDiv,
.QXTE-ScoreQuestionDiv,
.QXTE-ECoord,
.QXTE-EFeedbackP,
.QXTE-ETitleImage,
.QXTE-ETitleVideo,
.QXTE-EInputVideo,
.QXTE-EAuthorAlt {
    display: none;
}

#gameQEIdeviceForm .QXTE-EOptionDiv label {
    margin-right: 0.2em;
}


label[for=gameQEScoreQuestion],
input#gameQEScoreQuestion {
    display: none;
}


/* To review */
#gameQEIdeviceForm .exe-block-info img {
    margin-left: .2em;
    vertical-align: middle;
}

.exe-block-close {
    position: absolute;
    top: 6px;
    right: 5px;
}


#gameQEIdeviceFormTab3 p:first-child {
    margin-top: 0;
}

#gameQEIdeviceFormTab3 {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

#gameQEIdeviceFormTab3>* {
    flex: 0 0 48%;
}

#gameQEIdeviceFormTab3> :first-child {
    flex: 0 0 100%;
}


@media screen and (max-width:720px) {
    #gameQEIdeviceFormTab3>* {
        flex: 0 0 100%;
    }
}

#gameQEIdeviceForm #gameQEIdeviceFormTab3 label {
    display: block;
    margin-bottom: .2em;
    color: #5b810b;
    font-weight: 500;
}

#gameQEIdeviceForm #gameQEIdeviceFormTab3 input {
    width: 100%;
}

/* Tabs (this should be common) */
.exe-form-tabs {
    list-style: none;
    margin: 0 0 1.5em 0;
    padding: 0;
}

#main .exe-form-tabs li {
    display: inline;
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

.exe-form-tabs li:first-child a {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.exe-form-tabs li:last-child a {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.exe-form-tabs a {
    background: #F9F9F9;
    border: 1px solid #CCC;
    color: #666;
    display: inline-block;
    padding: .5em 1em;
}

.exe-form-tabs li:not(:last-child) a {
    border-right: none;
}

.exe-form-tabs .exe-form-active-tab {
    background: #FFF;
    color: #000;
    font-weight: 500;
}

#gameQESCORMoptions {
    margin-left: 1.5em;
    visibility: hidden;
}

label[for=gameQEActivitySCORM] {
    font-weight: bold;
}

#gameQESCORMinstructionsButton {
    color: #777;
    display: none;
    margin: 10px 0 0 25px;
}

#gameQESCORMinstructionsButton ul {
    list-style: none;
    margin: 1.5em 0 .7em 0;
    padding: 0;
}

#gameQESCORMinstructionsButton ul li {
    list-style-image: none;
    margin: 0 0 .5em 0;
    padding: 0;
}

#gameQESCORMinstructionsAuto {
    color: #777;
    display: none;
    margin: 10px 0 0 25px;
}

#gameQESCORMinstructionsAuto ul {
    list-style: none;
    margin: 1.5em 0 .7em 0;
    padding: 0;
}

.GameModeHelpLink {
    margin: 0 2px;
    vertical-align: middle;
}


.GameModeLabel {
    font-weight: normal
}

.eXeE-LightboxWindow {
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 1200px;
    position: relative;
}

.eXeE-LightboxTabs {
    display: flex;
    border-bottom: 1px solid #ccc;
    align-items: center;
    position: relative;
}

#gameQEIdeviceForm a.eXeE-TabButton,
.eXeE-TabButton {
    padding: 10px 15px;
    cursor: pointer;
    background: #f0f0f0;
    border: none;
    border-right: 1px solid #ccc;
    font-size: 16px;
    position: relative;
    text-decoration: none !important;
    color: black;
}

a.eXeE-TabButton:last-child {
    border-right: none;
}

#gameQEIdeviceForm .eXeE-Active,
.eXeE-Active {
    background: #fff !important;
    border-bottom: 2px solid #007BFF !important;
    color: #5b810b !important;
}

.eXeE-LightboxContent {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.eXeE-LightboxTextarea {
    width: 100%;
    height: 250px;
    font-family: monospace;
    font-size: 14px;
}

.eXeE-LightboxFooter {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #ccc;
    padding: 10px;
}

.eXeE-LightboxFooter button {
    margin-left: 10px;
}

.eXeE-InfoTooltip {
    display: inline-block;
    margin-left: 5px;
    cursor: help;
    border-radius: 50%;
    background: #ccc;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
    font-weight: bold;
    position: relative;
}

.eXeE-InfoTooltip:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 20px;
    left: 0;
    background: #333;
    color: #fff;
    padding: 5px 8px;
    border-radius: 3px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 999;
}