<?xml version="1.0"?>
<idevice>
    <title>External website</title>
    <css-class>external-website</css-class>
    <category>Other contents</category>
     <icon>
        <name>external-website-icon</name>
        <url>external-website-icon.svg</url>
        <type>img</type>
    </icon>
    <downloadable>0</downloadable>
</idevice>
