#vquextQEIdeviceForm {
    margin-top: 2em;
}

#vquextQEIdeviceForm input[type=number] {
    width: 4em;
}

#vquextQEIdeviceForm label {
    margin-right: 0.15em !important;
}

#vquextQEIdeviceForm input:is([type="checkbox"], [type="radio"], [type="number"]) {
    margin-right: 0.15em !important;
}

#vquextQEIdeviceForm input[type="radio"],
#vquextQEIdeviceForm input[type="checkbox"],
#vquextQEIdeviceForm input[type=button] {
    cursor: pointer;
}

/*Panel preguntas */
.VDQXTE-EPanel {
    margin: 0.7em auto;
    padding: 0;
    position: relative;
    width: 100%;
}

.VDQXTE-EOptionsMedia {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    width: 100%;
}

/* Medias */
.VDQXTE-EMultiMediaOption {
    height: 100%;
    min-height: 300px;
    min-width: 400px;
    position: relative;
    width: 50%;
}

.VDQXTE-EMultimedia {
    background-color: #fff;
    border-radius: .5em;
    height: 227px;
    margin: 40px auto auto auto;
    position: relative;
    width: 400px;
}

.VDQXTE-EMultiVideoQuExt {
    background-color: #fff;
    height: 300px;
    margin: 20px auto auto auto;
    position: relative;
    max-width: 528px;
}

.VDQXTE-EMedia {
    border: 1px solid #cccccc;
    border-radius: .5em;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.VDQXTE-EMedia:last-of-type {
    display: block;
}

.VDQXTE-ECursor {
    display: none;
    left: 0;
    position: absolute;
}

/* Opciones */
.VDQXTE-Flex {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    gap: 6px;
}

.VDQXTE-ENameTema input[type=text]:last-of-type {
    width: 100%;
    margin-left: 0.2em;
}

.VDQXTE-ENameTema {
    flex-wrap: nowrap;
}

.VDQXTE-EOptionsGame {
    min-height: 300px;
    width: 50%;
}

.VDQXTE-EOptionsGame div {
    margin-bottom: 0.7em;
}

.VDQXTE-EOptionsGame input[type=text] {
    margin-right: .2em;
    width: 5em;
}

.VDQXTE-inlineOption,
.VDQXTE-TypeGame,
.VDQXTE-TypeOrder {
    margin-left: .5em
}

/* Ayuda */
.VDQXTE-TypeGameHelp {
    display: none;
    padding-top: 0.8em;
    margin-bottom: 2em;
    font-size: .95em
}

.Games-Reportdiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
}

.VDQXTE-EInputVideo input[type=text] {
    width: 85%;
}

.VDQXTE-EInputOptionsVideo>div {
    margin-top: 0.6em;
}

.VDQXTE-EInputOptionsVideo button {
    font-size: 1em;
    height: 1.6em;
}


/*Preguntas*/
.VDQXTE-EQuestionDiv {
    margin-bottom: .3em;
    width: 100%;
}

.VDQXTE-EQuestion {
    width: 98%;
}

.VDQXTE-EAnswers {
    background: transparent;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.VDQXTE-EOptionDiv {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 3px 0;
    min-height: 35px;
    width: 49%;
    gap: 1px;
}

.VDQXTE-EAnwersOptions {
    width: 100%;
}

.VDQXTE-SolutionWordDiv {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: .5em auto;
    width: 100%;
}

.VDQXTE-ESolutionWord {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 0.5em;
    width: 100%;
}

.VDQXTE-ESolutionWord label {
    display: inline-block;
    width: 11em;
    text-align: right;
    padding-right: .5em
}

.VDQXTE-SolutionWordDiv input {
    text-align: left;
}

.VDQXTE-SolitionOptionsDiv {
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Itinerario */
.VDQXTE-EOrders {
    margin-top: 0.5em;
    display: none;
}

.VDQXTE-EOrders>div {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    ;
}

.VDQXTE-EOrders>div {
    align-items: left;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 0.5em;
}

.VDQXTE-EOrders>div * {
    margin-right: .2em;
}

.VDQXTE-EOrders input[type=text] {
    width: 100%;
}

.VDQXTE-EOrders label {
    white-space: nowrap;
}

.VDQXTE-EHit {
    background-image: url(quextIEHit.png);
    background-size: 100% 100%;
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
}

.VDQXTE-EError {
    background-image: url(quextIEError.png);
    background-size: 100% 100%;
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
}

/*Numero Preguntas */
.VDQXTE-ENumQuestionDiv {
    align-items: center;
    display: flex;
    height: 1.5em;
    justify-content: center;
    position: absolute;
    right: 0;
    top: .3em;
    width: 3em;
    z-index: 19;
}

.VDQXTE-ENumQ {
    background-image: url(quextIENumber.png);
    background-size: 100% 100%;
    display: inline-block;
    height: 1.5em;
    margin-right: 0px;
    width: 1.5em;
}

.VDQXTE-ENumQuestions {
    font-weight: bold;
    height: 1.5em;
    text-align: center;
    width: 2em;
}

.VDQXTE-ECustomMessage {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    width: 100%;
}

.VDQXTE-ECustomMessage input[type=text] {
    width: 100%;
    margin-right: 0.1em;
}

.VDQXTE-ECustomMessage label {
    margin: 0 0.1em;
}

/* barra edición */
.VDQXTE-ENavigationButtons {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    width: 100%;
}

.VDQXTE-ENavigationButton {
    height: 1.5em;
    margin: 0 .3em;
    min-width: 1.5em;
    width: 1.5em;
}

.VDQXTE-EButtonImage {
    height: 100%;
    transition: all .3s ease-in-out;
    width: 100%;
}

.VDQXTE-EButtonImage:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.VDQXTE-NumberQuestion {
    font-weight: bold;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    vertical-align: middle;
    width: 2em;
}


/* Video introdución */

.VDQXTE-EVI,
.VDQXTE-ENoVI {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.VDQXTE-EVIOptions {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    justify-content: flex-start;
    position: absolute;
    width: 100%;
}

.VDQXTE-EVIOptions * {
    margin-left: 0.3em;
}

.VDQXTE-EVIOptions input[type=text] {
    text-align: left;
    width: 5em;
}

.VDQXTE-EVIOptions input[type=text]:first-of-type {
    width: 15em;
}

.VDQXTE-EVILabel {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    min-width: 100px;

}

.VDQXTE-EVIOptionsVQ {
    margin-bottom: 0.6em;
}

.VDQXTE-EVIOptionsVQ input[type=text] {
    text-align: left;
    width: 5em;
    margin-right: .2em;
}

.VDQXTE-EVIOptionsVQ #vquextEVIURL {
    width: 15em;
}

/* Ocutar elementos */
.VDQXTE-EInputOptionsVideo,
.VDQXTE-DP,
.VDQXTE-EFeedbackP,
.VDQXTE-EInputVideo {
    display: none;
}


label[for=gameQEScoreQuestion],
input#gameQEScoreQuestion {
    display: none;
}

.VDQXTE-EWordDiv {
    margin: .5em auto;
    width: 100%;
}

#vquextQEIdeviceForm .VDQXTE-ESolutionWord label {
    display: inline-block;
}

#vquextQEIdeviceForm .VDQXTE-ESolutionWord input[type=text] {
    width: 100%;
}

/* To review */
#vquextQEIdeviceForm .exe-block-info img {
    margin-left: .2em;
    vertical-align: middle;
}


#vquextQEIdeviceFormTab3 p:first-child {
    margin-top: 0;
}

#vquextQEIdeviceFormTab3 {
    overflow: auto;
}

#vquextQEIdeviceFormTab3 .ci18n {
    float: left;
    width: 50%;
}

@media screen and (max-width:720px) {
    #vquextQEIdeviceForm #vquextQEIdeviceFormTab3 .ci18n {
        float: none;
        width: 100%;
    }
}

#vquextQEIdeviceForm #vquextQEIdeviceFormTab3 label {
    display: block;
    margin-bottom: .2em;
    color: #5b810b;
    font-weight: 500;
}

#vquextQEIdeviceForm #vquextQEIdeviceFormTab3 input {
    width: 95%;
}

/* Tabs (this should be common) */
.exe-form-tabs {
    list-style: none;
    margin: 0 0 1.5em 0;
    padding: 0;
}

#main .exe-form-tabs li {
    display: inline;
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

.exe-form-tabs li:first-child a {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.exe-form-tabs li:last-child a {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.exe-form-tabs a {
    background: #F9F9F9;
    border: 1px solid #CCC;
    color: #666;
    display: inline-block;
    padding: .5em 1em;
}

.exe-form-tabs li:not(:last-child) a {
    border-right: none;
}

.exe-form-tabs .exe-form-active-tab {
    background: #FFF;
    color: #000;
    font-weight: 500;
}

#gameQESCORMoptions {
    margin-left: 1.5em;
    visibility: hidden;
}

label[for=gameQEActivitySCORM] {
    font-weight: bold;
}

#gameQESCORMinstructionsButton {
    color: #777;
    display: none;
    margin: 10px 0 0 25px;
}

#gameQESCORMinstructionsButton ul {
    list-style: none;
    margin: 1.5em 0 .7em 0;
    padding: 0;
}

#gameQESCORMinstructionsButton ul li {
    list-style-image: none;
    margin: 0 0 .5em 0;
    padding: 0;
}

#gameQESCORMinstructionsAuto {
    color: #777;
    display: none;
    margin: 10px 0 0 25px;
}

#gameQESCORMinstructionsAuto ul {
    list-style: none;
    margin: 1.5em 0 .7em 0;
    padding: 0;
}

.GameModeHelpLink {
    margin: 0 2px;
    vertical-align: middle;
}


.GameModeLabel {
    font-weight: normal
}