<?xml version="1.0"?>
<idevice>
    <title>Select media files</title>
    <css-class>select-media-files</css-class>
    <category>Games</category>
    <icon>
        <name>select-media-files-icon</name>
        <url>select-media-files-icon.svg</url>
        <type>img</type>
    </icon>
    <downloadable>0</downloadable>
</idevice>
