<?xml version="1.0"?>
<idevice>
    <title>Select</title>
    <css-class>quick-questions-multiple-choice</css-class>
    <category>Games</category>
    <icon>
        <name>quick-questions-multiple-choice-icon</name>
        <url>quick-questions-multiple-choice-icon.svg</url>
        <type>img</type>
    </icon>
    <downloadable>0</downloadable>
</idevice>
