<?xml version="1.0"?>
<idevice>
    <name>scrambled-list</name>
    <title>Scrambled list</title>
    <css-class>scrambled-list</css-class>
    <category>Interactive activities</category>
    <icon>
        <name>scrambled-list-icon</name>
        <url>scrambled-list-icon.svg</url>
        <type>img</type>
    </icon>
    <version>1.0</version>
    <api-version>3.0</api-version>
    <component-type>json</component-type>
    <location>location</location>
    <location-type>location type</location-type>
    <edition-js>
        <filename>scrambled-list.js</filename>
    </edition-js>
    <edition-css>
        <filename>scrambled-list.css</filename>
    </edition-css>
    <export-js>
        <filename>scrambled-list.js</filename>
    </export-js>
    <export-css>
        <filename>scrambled-list.css</filename>
    </export-css>
    <export-template-filename>scrambled-list.html</export-template-filename>
    <author>author</author>
    <author-url>author url</author-url>
    <license>license</license>
    <license-url>license url</license-url>
    <description>description</description>
    <downloadable>0</downloadable>
</idevice>
