#gameQEIdeviceForm {
    margin-top: 2em;
}

#gameQEIdeviceForm input[type="number"] {
    width: 4em;
}


#gameQEIdeviceForm label {
    margin-right: 0.1em !important;
}

#gameQEIdeviceForm input:is([type="checkbox"], [type="radio"], [type="number"]) {
    margin-right: 0.15em !important;
}

#gameQEIdeviceForm input[type="radio"],
#gameQEIdeviceForm input[type="checkbox"],
#gameQEIdeviceForm input[type="button"] {
    cursor: pointer;
}

/*Panel preguntas */
.MQE-EMultimedias {
    width: 100%;
    position: relative;
}

.MQE-EPanel {
    margin: 0.3em auto;
    padding: 0;
    width: 100%;
    position: relative;
}

.MQE-EPanelP {
    margin: 0.3em auto;
    padding: 0;
    width: 100%;
    position: relative;
    background-color: white;
}

#mapaCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 111;
}

.MQE-EMediaContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.MQE-EPointContainer,
.MQE-ESlideContainer {
    z-index: 1000;
    cursor: pointer;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;

}

.MQE-ESTestPointContainer {
    z-index: 1000;
    cursor: pointer;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: white;
    display: none;
    min-width: 700px;
    border: 1px solid #ccc;
    padding: 10px 15px;
    border-radius: 4px;
}


.MQE-EMultimedia {
    background-color: #fff;
    border-radius: .5em;
    height: 515px;
    position: relative;
    width: 800px;
    border-radius: 0.3em;
}

.MQE-EPointMultimedia,
.MQE-ESlideMultimedia {
    padding: 0.6em 1em;
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
    width: 50%;
    min-width: 580px;
}

.MQE-EPointMultimedia input[type=text] {
    margin-right: 0.3em;
}

.MQE-EPanel p {
    margin: 0.5em auto;
}

.MQE-EPanelP p {
    margin: 0.5em auto;
}

#mapaEPointInputOptionsVideo input[type=text] {
    width: 6em;
    min-width: 6em;
}

.MQE-PointImageContainer {
    border-radius: 0.6em;
    margin: 0.3em auto;
    position: relative;
    width: 560px;
    height: 315px;
}

.MQE-ECursorPoint {
    display: none;
    left: 0;
    top: 0;
    position: absolute;
    width: 1.7em;
    height: 1.7em;
    background-image: url(mapam0.svg);
    background-size: 100% 100%;
}

.MQE-EImage,
.MQE-EProtector {
    position: absolute;
    display: none;
    border-radius: 0.3em;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.MQE-EImageCover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.3em;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.MQE-EProtector {
    z-index: 110;
    background-color: rgba(255, 255, 255, 0.01);
}

#mapaControls {
    display: flex;
    justify-content: center;
    padding: .6em;
    gap: 0.2em
}

#mapaControls button {
    font-size: 1em;
    padding: 4px 10px;
    color: #333333;
    cursor: pointer
}

.MQE-EArea {
    position: absolute;
    z-index: 99;
    background-color: rgba(255, 0, 0, 0.4);
    display: none;
}

.MQE-ETextLink {
    position: absolute;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.6);
    top: 100px;
    left: 100px;
    text-align: center;
    max-width: 180px;
    min-width: 10px;
    min-height: 20px;
    font-size: 14px;
    padding: 0;
    display: none;
    font-weight: bold;
}

.MQE-TextLinkDiv {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    display: none;
}

.MQE-CloseDetail {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    min-width: 100px;
}

.MQE-CloseDetail a {
    display: block;
    height: 1.5em;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.MQE-EFlex {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    min-width: 100px;
    width: 100%;
}

.MQE-EFlexCenter {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    min-width: 100px;
    width: 100%;
    margin-top: 1em;
}


.MQE-EFlexN {
    padding-left: 0.3em;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.MQE-IconType {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.MQE-EIconPoint {
    background-image: url(mapam0.svg);
    background-size: 100% 100%;
    height: 1.3em;
    width: 1.3em;
    margin-left: 0.5em;
}

.MQE-EFlexSolution {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0.5em auto;
}

.MQE-EFlexN span {
    display: inline-block;
    margin-left: 0.3em;
}

.MQE-EFlex input[type=text] {
    flex-flow: 1;
    min-width: 100px;
    width: 100%;
}

.MQE-EText {
    width: 100%;
}

.MQE-NumberPoint {
    font-weight: bold;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    vertical-align: middle;
    width: 2em;
}

.MQE-EditPointsMap {
    font-size: 1.1em;
    display: none;
}

/* Opciones audio */
.MQE-EInputAudio {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.MQE-EInputAudio input[type=text] {
    flex-flow: 1;
    min-width: 100px;
    width: 100%;
}

.MQE-EInputAudio input[type=button] {
    flex-shrink: 0;
}

/*Numero Preguntas */
#mapaFQuestions {
    position: relative;
}

.MQE-ENumQuestionDiv {
    align-items: center;
    display: flex;
    height: 1.5em;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0.5em;
    width: 3em;
    z-index: 3;
}

.MQE-PENumQuestionDiv {
    align-items: center;
    display: flex;
    height: 1.5em;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0.5em;
    width: 3em;
    z-index: 3;
}

.MQE-ENumQ {
    background-image: url(quextIENumber.png);
    background-size: 100% 100%;
    display: inline-block;
    height: 1.5em;
    margin-right: 0px;
    width: 1.5em;
}

.MQE-ENumQuestions {
    font-weight: bold;
    height: 1.5em;
    text-align: center;
    width: 2em;
}

/* barra edición */
.MQE-ENavigationButtons {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    width: 100%;
}

.MQE-ENavigationButton {
    width: 1.5em;
    height: 1.5em;
    background-size: 100% 100%;
    margin: 0.3em;
}

.MQE-EActivo {
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    -webkit-filter: drop-shadow(.12em .12em .12em rgba(0, 0, 0, 0.5));
    -webkit-transition: transform 0.3s;
    cursor: pointer;
    filter: drop-shadow(.12em .12em .12em rgba(0, 0, 0, 0.5));
    transition: transform 0.3s;
}

.MQE-CloseDetail:hover .MQE-EActivo,
.MQE-EActivo:hover {
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#mapaTitle,
#mapaTypePointSelect {
    max-width: 250px;
    margin-left: 2px;
    margin-right: 4px;
}

#mapaTypePointSelect {
    margin-right: 4px;
}

#mapaBtnDrop {
    margin-right: 4px;
}

.MQP-Dropbtn {
    background-color: white;
    color: black;
    padding: 0 0 0 2px;
    cursor: pointer;
    position: relative;
    min-width: 150px;
    border-radius: 3px;
    border: 1px solid #8F8F9D;
    margin-left: 2px;
}

.MQP-Dropbtn::after {
    content: "▼";
    font-size: 14px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.MQP-Dropdown {
    position: relative;
    display: inline-block;
    z-index: 5;
}

ul.MQP-DropdownContent {
    display: none;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    background-color: #f9f9f9;
    width: 650px;
    max-width: 650px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    margin: 0px 0px;
    z-index: 5;
}

.exe-block-dismissible{
    position: relative;
}
.exe-block-close {
    position: absolute;
    top:6px;
    right: 5px;
}

.MQP-DropdownContent li:hover {
    background-color: #f1f1f1
}

.MQE-P0 {
    background-image: url(mapam0.svg);
}

.MQE-P1 {
    background-image: url(mapam1.svg);
}

.MQE-P2 {
    background-image: url(mapam2.svg);
}

.MQE-P3 {
    background-image: url(mapam3.svg);
}

.MQE-P4 {
    background-image: url(mapam4.svg);
}

.MQE-P5 {
    background-image: url(mapam5.svg);
}

.MQE-P6 {
    background-image: url(mapam6.svg);
}

.MQE-P7 {
    background-image: url(mapam7.svg);
}

.MQE-P8 {
    background-image: url(mapam8.svg);
}

.MQE-P9 {
    background-image: url(mapam9.svg);
}

.MQE-P10 {
    background-image: url(mapam10.svg);
}

.MQE-P11 {
    background-image: url(mapam11.svg);
}

.MQE-P12 {
    background-image: url(mapam12.svg);
}

.MQE-P13 {
    background-image: url(mapam13.svg);
}

.MQE-P14 {
    background-image: url(mapam14.svg);
}

.MQE-P15 {
    background-image: url(mapam15.svg);
}

.MQE-P16 {
    background-image: url(mapam16.svg);
}

.MQE-P17 {
    background-image: url(mapam17.svg);
}

.MQE-P18 {
    background-image: url(mapam18.svg);
}

.MQE-P19 {
    background-image: url(mapam19.png);
}

.MQE-P20 {
    background-image: url(mapam20.svg);
}

.MQE-P21 {
    background-image: url(mapam21.svg);
}

.MQE-P22 {
    background-image: url(mapam22.svg);
}

.MQE-P23 {
    background-image: url(mapam23.svg);
}

.MQE-P24 {
    background-image: url(mapam24.svg);
}

.MQE-P25 {
    background-image: url(mapam25.svg);
}

.MQE-P26 {
    background-image: url(mapam26.svg);
}

.MQE-P27 {
    background-image: url(mapam27.svg);
}

.MQE-P28 {
    background-image: url(mapam28.svg);
}

.MQE-P29 {
    background-image: url(mapam29.svg);
}

.MQE-P30 {
    background-image: url(mapam30.svg);
}

.MQE-P31 {
    background-image: url(mapam31.svg);
}

.MQE-P32 {
    background-image: url(mapam32.svg);
}

.MQE-P33 {
    background-image: url(mapam33.svg);
}

.MQE-P34 {
    background-image: url(mapam34.svg);
}

.MQE-P35 {
    background-image: url(mapam35.svg);
}

.MQE-P36 {
    background-image: url(mapam36.svg);
}

.MQE-P37 {
    background-image: url(mapam37.svg);
}

.MQE-P38 {
    background-image: url(mapam38.svg);
}

.MQE-P39 {
    background-image: url(mapam39.svg);
}

.MQE-P40 {
    background-image: url(mapam40.svg);
}

.MQE-P41 {
    background-image: url(mapam41.svg);
}

.MQE-P42 {
    background-image: url(mapam42.svg);
}

.MQE-P43 {
    background-image: url(mapam43.svg);
}

.MQE-P44 {
    background-image: url(mapam44.svg);
}

.MQE-P45 {
    background-image: url(mapam45.svg);
}

.MQE-P46 {
    background-image: url(mapam46.svg);
}

.MQE-P47 {
    background-image: url(mapam47.svg);
}

.MQE-P48 {
    background-image: url(mapam48.svg);
}

.MQE-P49 {
    background-image: url(mapam49.svg);
}

.MQE-P50 {
    background-image: url(mapam50.svg);
}

.MQE-P51 {
    background-image: url(mapam51.svg);
}

.MQE-P52 {
    background-image: url(mapam52.svg);
}

.MQE-P53 {
    background-image: url(mapam53.svg);
}

.MQE-P54 {
    background-image: url(mapam54.svg);
}

.MQE-P55 {
    background-image: url(mapam55.svg);
}

.MQE-P56 {
    background-image: url(mapam56.svg);
}

.MQE-P57 {
    background-image: url(mapam57.svg);
}

.MQE-P58 {
    background-image: url(mapam58.svg);
}

.MQE-P59 {
    background-image: url(mapam59.svg);
}

.MQE-P60 {
    background-image: url(mapam60.svg);
}

.MQE-P61 {
    background-image: url(mapam61.svg);
}

.MQE-P62 {
    background-image: url(mapam62.svg);
}

.MQE-P63 {
    background-image: url(mapam63.svg);
}

.MQE-P64 {
    background-image: url(mapam64.svg);
}

.MQE-P65 {
    background-image: url(mapam65.svg);
}

.MQE-P66 {
    background-image: url(mapam66.svg);
}

.MQE-P67 {
    background-image: url(mapam67.svg);
}

.MQE-P68 {
    background-image: url(mapam68.svg);
}

.MQE-P69 {
    background-image: url(mapam69.svg);
}

.MQE-P70 {
    background-image: url(mapam70.svg);
}

.MQE-P71 {
    background-image: url(mapam71.svg);
}

.MQE-P72 {
    background-image: url(mapam72.svg);
}

.MQE-P73 {
    background-image: url(mapam73.svg);
}

.MQE-P74 {
    background-image: url(mapam74.svg);
}

.MQE-P75 {
    background-image: url(mapam75.svg);
}

.MQE-P76 {
    background-image: url(mapam76.svg);
}

.MQE-P77 {
    background-image: url(mapam77.svg);
}

.MQE-P78 {
    background-image: url(mapam78.svg);
}

.MQE-P79 {
    background-image: url(mapam79.svg);
}

.MQE-P80 {
    background-image: url(mapam80.svg);
}

.MQE-P81 {
    background-image: url(mapam81.svg);
}

.MQE-P82 {
    background-image: url(mapam82.svg);
}

.MQE-P83 {
    background-image: url(mapam83.svg);
}

.MQE-P84 {
    background-image: url(mapam84.svg);
}

.MQE-P85 {
    background-image: url(mapam85.svg);
}

.MQE-P86 {
    background-image: url(mapam86.svg);
}

.MQE-P87 {
    background-image: url(mapam87.svg);
}

.MQE-P88 {
    background-image: url(mapam88.svg);
}

.MQE-P89 {
    background-image: url(mapam89.svg);
}

.MQE-P90 {
    background-image: url(mapam90.svg);
}

.MQE-P91 {
    background-image: url(mapam91.svg);
}

.MQE-P92 {
    background-image: url(mapam92.svg);
}

.MQE-P93 {
    background-image: url(mapam93.svg);
}

.MQE-P94 {
    background-image: url(mapam94.svg);
}

.MQE-P95 {
    background-image: url(mapam95.svg);
}

.MQE-P96 {
    background-image: url(mapam96.svg);
}

.MQE-P97 {
    background-image: url(mapam97.svg);
}

.MQE-P98 {
    background-image: url(mapam98.svg);
}

.MQE-P99 {
    background-image: url(mapam99.svg);
}

.MQE-P100 {
    background-image: url(mapam100.svg);
}

.MQE-P101 {
    background-image: url(mapam101.svg);
}

.MQE-P102 {
    background-image: url(mapam102.svg);
}

.MQE-P103 {
    background-image: url(mapam103.svg);
}

.MQE-P104 {
    background-image: url(mapam104.svg);
}

.MQE-P105 {
    background-image: url(mapam105.svg);
}

.MQE-P106 {
    background-image: url(mapam106.svg);
}

.MQE-P107 {
    background-image: url(mapam107.svg);
}

.MQE-P108 {
    background-image: url(mapam108.svg);
}

.MQE-P109 {
    background-image: url(mapam109.svg);
}

.MQE-P110 {
    background-image: url(mapam110.svg);
}

.MQE-P111 {
    background-image: url(mapam111.svg);
}

.MQE-P112 {
    background-image: url(mapam112.svg);
}

.MQE-P113 {
    background-image: url(mapam113.svg);
}

.MQE-P114 {
    background-image: url(mapam114.svg);
}

.MQE-P115 {
    background-image: url(mapam115.svg);
}

.MQE-P116 {
    background-image: url(mapam116.svg);
}

.MQE-P117 {
    background-image: url(mapam117.svg);
}

.MQE-P118 {
    background-image: url(mapam118.svg);
}

.MQE-P119 {
    background-image: url(mapam119.svg);
}

.MQE-P120 {
    background-image: url(mapam120.svg);
}

.MQE-P121 {
    background-image: url(mapam121.svg);
}

.MQE-P122 {
    background-image: url(mapam122.svg);
}

.MQE-P123 {
    background-image: url(mapam123.svg);
}

.MQE-P124 {
    background-image: url(mapam124.svg);
}

.MQE-P125 {
    background-image: url(mapam125.svg);
}

.MQE-P126 {
    background-image: url(mapam126.svg);
}

.MQE-P127 {
    background-image: url(mapam127.svg);
}

.MQE-P128 {
    background-image: url(mapam128.svg);
}

.MQE-P129 {
    background-image: url(mapam129.svg);
}

.MQE-P130 {
    background-image: url(mapam130.svg);
}

.MQP-DropdownContent li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.MQP-DropdownContent div {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-size: cover;
    background-position: center;
}

.MQP-Dropbtn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    cursor: pointer;
}

.MQP-Dropbtn div {
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center;
}

a.MQE-Add {
    background-image: url(quextIEAdd.png);
}

a.MQE-First {
    background-image: url(quextIEFirst.png);
}

a.MQE-Previous {
    background-image: url(quextIEPrev.png);
}

a.MQE-Next {
    background-image: url(quextIENext.png);
}

a.MQE-Last {
    background-image: url(quextIELast.png);
}

a.MQE-Delete {
    background-image: url(quextIEDelete.png);
}

a.MQE-Copy {
    background-image: url(quextIECopy.png);
}

a.MQE-Cut {
    background-image: url(quextIECut.png);
}

a.MQE-Paste {
    background-image: url(quextIEPaste.png);
}

a.MQE-Play {
    background-image: url(quextIEPlay.png);
}

a.MQE-Close {
    background-image: url(mapacerrarventana.svg);
}

a.MQE-More {
    background-image: url(quextEIMore.png);
}

.MQE-EActivo {
    transition: all .3s ease-in-out;
}

.MQE-EButtonImage:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.MQE-NumberQuestion {
    font-weight: bold;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    vertical-align: middle;
    width: 2em;
}

/* Video introdución */
.MQE-EVIDiv {
    background-color: #f9f9f9;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2000;
}

/* Video introdución */
.MQE-EVIV {
    width: 100%;
}

.MQE-EMVI {
    height: 315px;
    margin: 70px auto;
    position: relative;
    width: 560px;
}

.MQE-EVI,
.MQE-ENoVI {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.MQE-EVIOptions {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    justify-content: flex-start;
    position: absolute;
    width: 100%;
}

.MQE-EVIOptions * {
    margin-left: 0.3em;
}

.MQE-EVIOptions input[type=text] {
    text-align: left;
    width: 5em;
}

.MQE-EVIOptions input[type=text]:first-of-type {
    width: 15em;
}

.MQE-EVideoIntroDiv {
    border-radius: 10px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 98%;
    z-index: 2000;
}

.MQE-EVIClose {
    position: absolute;
    right: 0.3em;
    top: 0.3em;
}

.MQE-EVIOptionsVQ {
    margin-bottom: 0.6em;
}

.MQE-EVIOptionsVQ input[type=text] {
    text-align: left;
    width: 5em;
}

.MQE-EVIOptionsVQ #mapaVIURL {
    width: 15em;
}

.MQE-EHide {
    display: none;
}


/* Tabs (this should be common) */
.exe-form-tabs {
    list-style: none;
    margin: 0 0 1.5em 0;
    padding: 0;
}

#main .exe-form-tabs li {
    display: inline;
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

.exe-form-tabs li:first-child a {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.exe-form-tabs li:last-child a {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.exe-form-tabs a {
    background: #F9F9F9;
    border: 1px solid #CCC;
    color: #666;
    display: inline-block;
    padding: .5em 1em;
}

.exe-form-tabs li:not(:last-child) a {
    border-right: none;
}

.exe-form-tabs .exe-form-active-tab {
    background: #FFF;
    color: #000;
    font-weight: 500;
}

#MQE-SCORMoptions {
    margin-left: 1.5em;
    visibility: hidden;
}

label[for=MQE-ActivitySCORM] {
    font-weight: bold;
}

#MQE-SCORMinstructionsButton {
    color: #777;
    display: none;
    margin: 10px 0 0 25px;
}

#MQE-SCORMinstructionsButton ul {
    list-style: none;
    margin: 1.5em 0 .7em 0;
    padding: 0;
}

#MQE-SCORMinstructionsButton ul li {
    list-style-image: none;
    margin: 0 0 .5em 0;
    padding: 0;
}

#MQE-SCORMinstructionsAuto {
    color: #777;
    display: none;
    margin: 10px 0 0 25px;
}

#MQE-SCORMinstructionsAuto ul {
    list-style: none;
    margin: 1.5em 0 .7em 0;
    padding: 0;
}

.GameModeHelpLink {
    margin: 0 2px;
    vertical-align: middle;
}

.GameModeLabel {
    font-weight: normal
}

.MQE-EOrders {
    margin-top: 0.5em;
    display: none;
}

.MQE-EOrders>div {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    ;
}

.MQE-EOrders>div {
    align-items: left;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 0.5em;
}

.MQE-EOrders>div * {
    margin-right: .2em;
}

.MQE-EOrders input[type=text] {
    width: 100%;
}

.MQE-EHit {
    background-image: url(quextIEHit.png);
    background-size: 100% 100%;
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
}

.MQE-EError {
    background-image: url(quextIEError.png);
    background-size: 100% 100%;
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
}

.MQE-FieldPanel {
    position: relative;
}

.MQE-Cubierta {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 115;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

/*Preguntas*/
.MQE-EQuestionDiv {
    margin-bottom: .3em;
    width: 100%;
}

.MQE-EQuestion {
    width: 98%;
}

.MQE-EAnswers {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}


.MQE-EOptionDiv,
.MQE-PEOptionDiv {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 3px 0;
    min-height: 35px;
    width: 49%;
}

.MQE-EAnwersOptions,
.MQE-PEAnwersOptions {
    width: 100%;
}

.MQE-SolutionWordDiv {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: .5em auto;
    width: 100%;
}

.MQE-ESolutionWord {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 0.5em;
    width: 100%;
}

.MQE-ESolutionWord label {
    display: inline-block;
    width: 11em;
    text-align: right;
    padding-right: .5em
}

.MQE-ESolutionWord input {
    width: 100%;
}


#mapaESolutionWord,
#mapaEDefinitionWord {
    width: 100%;
}

.MQE-SolutionWordDiv input {
    text-align: left;
}

/* Ocutar elementos */
.MQE-DP,
.MQE-ESolutionSelect label,
.MQE-PESolutionSelect label {
    display: none;
}

.MQE-PointMap {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    margin: 0 auto;
}

/* Especificos del juego  selecciona*/
.MQE-ESolutionSelect,
.MQE-PESolutionSelect {
    margin-bottom: 0.5em;
}

.MQE-ESolutionSelect input[type=number],
.MQE-PESolutionSelect .MQE-ESolutionSelect input[type=number] {
    margin: auto 0.2em;
}

#gameQEIdeviceForm .gameQE-EOptionDiv label {
    margin-right: 0.2em;
}


/* To review */
#gameQEIdeviceForm .exe-block-info img {
    margin-left: .2em;
    vertical-align: middle;
}




#gameQEIdeviceFormTab3 p:first-child {
    margin-top: 0;
}

#gameQEIdeviceFormTab3 {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

#gameQEIdeviceFormTab3>* {
    flex: 0 0 48%;
}

#gameQEIdeviceFormTab3> :first-child {
    flex: 0 0 100%;
}


@media screen and (max-width:720px) {
    #gameQEIdeviceFormTab3>* {
        flex: 0 0 100%;
    }
}

#gameQEIdeviceForm #gameQEIdeviceFormTab3 label {
    display: block;
    margin-bottom: .2em;
    color: #5b810b;
    font-weight: 500;
}

#gameQEIdeviceForm #gameQEIdeviceFormTab3 input {
    width: 100%;
}

/* Tabs (this should be common) */
.exe-form-tabs {
    list-style: none;
    margin: 0 0 1.5em 0;
    padding: 0;
}

#main .exe-form-tabs li {
    display: inline;
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

.exe-form-tabs li:first-child a {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.exe-form-tabs li:last-child a {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.exe-form-tabs a {
    background: #F9F9F9;
    border: 1px solid #CCC;
    color: #666;
    display: inline-block;
    padding: .5em 1em;
}

.exe-form-tabs li:not(:last-child) a {
    border-right: none;
}

.exe-form-tabs .exe-form-active-tab {
    background: #FFF;
    color: #000;
    font-weight: 500;
}

#gameQESCORMoptions {
    margin-left: 1.5em;
    visibility: hidden;
}

label[for=gameQEActivitySCORM] {
    font-weight: bold;
}

#gameQESCORMinstructionsButton {
    color: #777;
    display: none;
    margin: 10px 0 0 25px;
}

#gameQESCORMinstructionsButton ul {
    list-style: none;
    margin: 1.5em 0 .7em 0;
    padding: 0;
}

#gameQESCORMinstructionsButton ul li {
    list-style-image: none;
    margin: 0 0 .5em 0;
    padding: 0;
}

#gameQESCORMinstructionsAuto {
    color: #777;
    display: none;
    margin: 10px 0 0 25px;
}

#gameQESCORMinstructionsAuto ul {
    list-style: none;
    margin: 1.5em 0 .7em 0;
    padding: 0;
}

.GameModeHelpLink {
    margin: 0 2px;
    vertical-align: middle;
}

.GameModeLabel {
    font-weight: normal
}

.MQE-TypeGameHelp {
    display: none;
    margin-bottom: 2em;
    font-size: .95em
}

.Games-Reportdiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
}