#gameQEIdeviceForm {
    margin-top: 2em;
}

#gameQEIdeviceForm input[type=number] {
    width: 4em;
}


#gameQEIdeviceForm label {
    margin-right: 0.15em !important;
}

#gameQEIdeviceForm input:is([type="checkbox"], [type="radio"], [type="number"]) {
    margin-right: 0.15em !important;
}


#gameQEIdeviceForm input[type="radio"],
#gameQEIdeviceForm input[type="checkbox"],
#gameQEIdeviceForm input[type=button] {
    cursor: pointer;
}

/*Panel preguntas */
.TRVLE-EPanel {
    margin: 0.7em auto;
    padding: 0;
    position: relative;
    width: 100%;
}

.TRVLE-EOptionsMedia {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    width: 100%;
}

/* Medias */
.TRVLE-EMultiMediaOption {
    height: 100%;
    min-height: 300px;
    min-width: 400px;
    position: relative;
    width: 50%;
}

.TRVLE-EMultimedia {
    background-color: #fff;
    border-radius: .5em;
    height: 227px;
    margin: 40px auto auto auto;
    position: relative;
    width: 400px;
}

.TRVLE-EMedia {
    border: 1px solid #cccccc;
    border-radius: .5em;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.TRVLE-EMedia:last-of-type {
    display: block;
}

.TRVLE-ECursor {
    display: none;
    left: 0;
    position: absolute;
}

/* Opciones */
.TRVLE-Flex {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.TRVLE-ENameTema input[type=text]:last-of-type {
    width: 100%;
    margin-left: 0.2em;
}

.TRVLE-ENameTema {
    flex-wrap: nowrap;
}

.TRVLE-EOptionsGame {
    min-height: 300px;
    width: 50%;
}

.TRVLE-EOptionsGame div {
    margin-bottom: 0.7em;
}

.TRVLE-EOptionsGame input[type=text] {
    margin-right: .2em;
    width: 5em;
}

.TRVLE-inlineOption,
.TRVLE-TypeGame,
.TRVLE-TypeOrder {
    margin-left: .5em
}

/* Ayuda */
.TRVLE-TypeGameHelp {
    display: none;
    margin-bottom: 2em;
    font-size: .95em
}
.Games-Reportdiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
}

/* Opciones imagen */
.TRVLE-EInputImage {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    min-width: 100px;
    width: 100%;
}

#gameQEIdeviceForm .TRVLE-EInputImage input[type=text] {
    flex-flow: 1;
    margin-right: 0.2em;
    min-width: 100px;
    width: 100%;
}

.uextE-EInputImage input[type=button] {
    flex-shrink: 0;
}

.TRVLE-EAuthorAlt label {
    display: block;
}

.TRVLE-EAuthorAlt input[type=text] {
    margin-right: 0.2em;
    width: 100%;
}

.TRVLE-EAuthorAlt div {
    width: 100%;
}

/* Opciones video */
.TRVLE-EAuthorVideo input[type=text] {
    width: 85%;
    max-width: 400px;
}

.TRVLE-EInputVideo input[type=text] {
    width: 85%;
}

.TRVLE-EInputOptionsVideo>div {
    margin-top: 0.6em;
}

.TRVLE-EInputOptionsVideo button {
    font-size: 1em;
    height: 1.6em;
}

/* Opciones audio */
.TRVLE-EInputAudio {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.TRVLE-EInputAudio input[type=text] {
    flex-flow: 1;
    margin-right: 0.2em;
    min-width: 100px;
    width: 100%;
}

.TRVLE-EInputAudio input[type=button] {
    flex-shrink: 0;
}

.TRVLE-ButtonLink {
    display: block;
    height: 1.6em;
    width: 1.6em;
}

/*Preguntas*/
.TRVLE-EQuestionDiv {
    margin-bottom: .3em;
    width: 100%;
}

.TRVLE-EQuestion {
    width: 98%;
}

.TRVLE-EAnswers {
    background: transparent;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.TRVLE-EOptionDiv {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 3px 0;
    min-height: 35px;
    width: 49%;
    gap: 1px;
}

.TRVLE-EAnwersOptions {
    width: 100%;
}

.TRVLE-SolutionWordDiv {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: .5em auto;
    width: 100%;
}

.TRVLE-ESolutionWord {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 0.5em;
    width: 100%;
}

.TRVLE-ESolutionWord label {
    display: inline-block;
    width: 11em;
    text-align: right;
    padding-right: .5em
}

.TRVLE-SolutionWordDiv input {
    text-align: left;
}

.TRVLE-SolitionOptionsDiv {
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Itinerario */
.TRVLE-EOrders {
    margin-top: 0.5em;
    display: none;
}

.TRVLE-EOrders>div {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    ;
}

.TRVLE-EOrders>div {
    align-items: left;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 0.5em;
}

.TRVLE-EOrders>div * {
    margin-right: .2em;
}

.TRVLE-EOrders input[type=text] {
    width: 100%;
}

.TRVLE-EOrders label {
    white-space: nowrap;
}

.TRVLE-EHit {
    background-image: url(quextIEHit.png);
    background-size: 100% 100%;
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
}

.TRVLE-EError {
    background-image: url(quextIEError.png);
    background-size: 100% 100%;
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
}

/*Numero Preguntas */
.TRVLE-ENumQuestionDiv {
    align-items: center;
    display: flex;
    height: 1.5em;
    justify-content: center;
    position: absolute;
    right: 0;
    top: .3em;
    width: 3em;
    z-index: 200;
}

.TRVLE-ENumQ {
    background-image: url(quextIENumber.png);
    background-size: 100% 100%;
    display: inline-block;
    height: 1.5em;
    margin-right: 0px;
    width: 1.5em;
}

.TRVLE-ENumQuestions {
    font-weight: bold;
    height: 1.5em;
    text-align: center;
    width: 2em;
}

.TRVLE-ECustomMessage {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    width: 100%;
}

.TRVLE-ECustomMessage input[type=text] {
    width: 100%;
    margin-right: 0.1em;
}

.TRVLE-ECustomMessage label {
    margin: 0 0.1em;
}

/* barra edición */
.TRVLE-ENavigationButtons {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    width: 100%;
}

.TRVLE-ENavigationButton {
    height: 1.5em;
    margin: 0 .3em;
    min-width: 1.5em;
    width: 1.5em;
}

.TRVLE-EButtonImage {
    height: 100%;
    transition: all .3s ease-in-out;
    width: 100%;
}

.TRVLE-EButtonImage:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.TRVLE-NumberQuestion {
    font-weight: bold;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    vertical-align: middle;
    width: 2em;
}

/* Video introdución */
.TRVLE-EVIDiv {
    background-color: #f9f9f9;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 200;
}

/* Video introdución */
.TRVLE-EVIV {
    width: 100%;
}

.TRVLE-EMVI {
    height: 315px;
    margin: 70px auto;
    position: relative;
    width: 560px;
}

.TRVLE-EVI,
.TRVLE-ENoVI {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.TRVLE-EVIOptions {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    justify-content: flex-start;
    position: absolute;
    width: 100%;
}

.TRVLE-EVIOptions * {
    margin-left: 0.3em;
}

.TRVLE-EVIOptions input[type=text] {
    text-align: left;
    width: 5em;
}

.TRVLE-EVIOptions input[type=text]:first-of-type {
    width: 15em;
}

.TRVLE-EVideoIntroDiv {
    border-radius: 10px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 98%;
    z-index: 200;
}

.TRVLE-EVIClose {
    position: absolute;
    right: 0.3em;
    top: 0.3em;
}

.TRVLE-EVIOptionsVQ {
    margin-bottom: 0.6em;
}

.TRVLE-EVIOptionsVQ input[type=text] {
    text-align: left;
    width: 5em;
    margin-right: .2em;
}

.TRVLE-EVIOptionsVQ #vquextEVIURL {
    width: 15em;
}

/* Ocutar elementos */
.TRVLE-EInputOptionsVideo,
.TRVLE-DP,
.TRVLE-EInputImage,
.TRVLE-EVIDiv,
.TRVLE-ScoreQuestionDiv,
.TRVLE-ECoord,
.TRVLE-EFeedbackP,
.TRVLE-ETitleImage,
.TRVLE-ETitleVideo,
.TRVLE-EInputVideo,
.TRVLE-EAuthorAlt,
.TRVLE-ESolutionSelect input[type=number],
.TRVLE-ESolutionSelect label {
    display: none;
}

/* Especificos del juego  selecciona*/
.TRVLE-ESolutionSelect {
    margin-bottom: 0.5em;
}

.TRVLE-ESolutionSelect input[type=number] {
    margin: auto 0.2em;
}

#gameQEIdeviceForm .TRVLE-EOptionDiv label {
    margin-right: 0.2em;
}

.TRVLE-ESolutionSelect input[type=number],
.TRVLE-ESolutionSelect label {
    display: none;
}

label[for=gameQEScoreQuestion],
input#gameQEScoreQuestion {
    display: none;
}

.TRVLE-EWordDiv {
    margin: .5em auto;
    width: 100%;
}

#gameQEIdeviceForm .TRVLE-ESolutionWord label {
    display: inline-block;
}

#gameQEIdeviceForm .TRVLE-ESolutionWord input[type=text] {
    width: 100%;
}

/* To review */
#gameQEIdeviceForm .exe-block-info img {
    margin-left: .2em;
    vertical-align: middle;
}
exe-block-dismissible{
    position: relative;
}

.exe-block-close {
    position: absolute;
    top:6px;
    right: 5px;
}

#gameQEIdeviceFormTab3 p:first-child {
    margin-top: 0;
}

#gameQEIdeviceFormTab3 {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

#gameQEIdeviceFormTab3>* {
    flex: 0 0 48%;
}

#gameQEIdeviceFormTab3> :first-child {
    flex: 0 0 100%;
}


@media screen and (max-width:720px) {
    #gameQEIdeviceFormTab3>* {
        flex: 0 0 100%;
    }
}

#gameQEIdeviceForm #gameQEIdeviceFormTab3 label {
    display: block;
    margin-bottom: .2em;
    color: #5b810b;
    font-weight: 500;
}

#gameQEIdeviceForm #gameQEIdeviceFormTab3 input {
    width: 100%;
}
/* Tabs (this should be common) */
.exe-form-tabs {
    list-style: none;
    margin: 0 0 1.5em 0;
    padding: 0;
}

#main .exe-form-tabs li {
    display: inline;
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

.exe-form-tabs li:first-child a {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.exe-form-tabs li:last-child a {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.exe-form-tabs a {
    background: #F9F9F9;
    border: 1px solid #CCC;
    color: #666;
    display: inline-block;
    padding: .5em 1em;
}

.exe-form-tabs li:not(:last-child) a {
    border-right: none;
}

.exe-form-tabs .exe-form-active-tab {
    background: #FFF;
    color: #000;
    font-weight: 500;
}

#gameQESCORMoptions {
    margin-left: 1.5em;
    visibility: hidden;
}

label[for=gameQEActivitySCORM] {
    font-weight: bold;
}

#gameQESCORMinstructionsButton {
    color: #777;
    display: none;
    margin: 10px 0 0 25px;
}

#gameQESCORMinstructionsButton ul {
    list-style: none;
    margin: 1.5em 0 .7em 0;
    padding: 0;
}

#gameQESCORMinstructionsButton ul li {
    list-style-image: none;
    margin: 0 0 .5em 0;
    padding: 0;
}

#gameQESCORMinstructionsAuto {
    color: #777;
    display: none;
    margin: 10px 0 0 25px;
}

#gameQESCORMinstructionsAuto ul {
    list-style: none;
    margin: 1.5em 0 .7em 0;
    padding: 0;
}

.GameModeHelpLink {
    margin: 0 2px;
    vertical-align: middle;
}


.GameModeLabel {
    font-weight: normal
}

