<?xml version="1.0"?>
<idevice>
    <title>Progress report</title>
    <css-class>progress-report</css-class>
    <category>Other contents</category>
    <icon>
        <name>progress-report-icon</name>
        <url>progress-report-icon.svg</url>
        <type>img</type>
    </icon>
    <downloadable>0</downloadable>
</idevice>
